/*Ebio*/
.ebio-wrap{
    margin-bottom:1em;
}
.ebio {
    background: #0F5181;
    border: 0.15em solid #0F5181;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}

.ebio-text {
    width:100%;
    background: #fff;
    border-left: .15em solid #0F5181;
    border-top: .15em solid #0F5181;
    padding-left:10px;
    padding-right:10px;
}